In [2]:
import pandas as pd

Note about the data sets.  Context is contained within the README page which is in this same folder as this notebook.

# *Data Manipulation Notebook 2:*  Appending, Concatinating, Merging, and Joining Tables

In [3]:
flowers = pd.DataFrame({
    "Name" : ["Iris", "Peony", "Daisy", "Petunia", "Impatiens", "Creeping Myrtle"], 
    "Plant_Type" : ["Perennial", "Perennial","Annual", "Annual", "Annual", "Perennial"],
    "Sun_Shade": ["Full Sun", "Full Sun", "Partial Sun", "Partial Sun", "Partial Shade", "Full Shade" ]
    
})

garden_supply = pd.DataFrame({
    "Flower" : ["Daylily","Iris", "Peony","Petunia", "Petunia", "Impatiens", "Coneflower"],
    "Sold_As" : ["Container", "Bulb Pack", "Root Pack","Container Pack", "Mixed Container", "Container Pack", "Container"],
    "Amt_Package" : [1, 25, 5, 4, 1, 4, 1]
})

shrubs = pd.DataFrame({
    "Name" : ["Boxwood", "Hydrangea", "Dipladenia", "Gardenia"], 
    "Plant_Type" : ["Evergreen", "Flowering", "Flowering", "Flowering"],
    "Sun_Shade": ["Partial Sun", "Partial Sun", "Partial Shade", "Full Sun" ]
})

In [5]:
#1. Examine the flowers table here:
flowers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Plant_Type  6 non-null      object
 2   Sun_Shade   6 non-null      object
dtypes: object(3)
memory usage: 272.0+ bytes

In [6]:
# 2. Examine the garden_supply table here:
garden_supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Flower       7 non-null      object
 1   Sold_As      7 non-null      object
 2   Amt_Package  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [7]:
# 3. Examine the shrubs table here:
shrubs.describe()

           Name Plant_Type    Sun_Shade
count         4          4            4
unique        4          2            3
top     Boxwood  Flowering  Partial Sun
freq          1          3            2

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 1: Append 

Reading:
1. [Python â€“ Pandas dataframe.append()](https://www.geeksforgeeks.org/python-pandas-dataframe-append/)

**Append** is a method that allows you to add additional rows to a dataset.

Below you will find a new dataset, *shrubs*.

As we manipulate the table, be sure that you are creating variables to store you new tables. This keeps the original tables intact.

In [11]:
# Append shrubs to the flowers table here.  Be sure to create a new variable for your new table.
flowers_appended=flowers.append(shrubs)
flowers_appended

/var/folders/ts/d6n9882j129gp1vw4rx7rhm80000gn/T/ipykernel_8369/3617819837.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flowers_appended=flowers.append(shrubs)

              Name Plant_Type      Sun_Shade
0             Iris  Perennial       Full Sun
1            Peony  Perennial       Full Sun
2            Daisy     Annual    Partial Sun
3          Petunia     Annual    Partial Sun
4        Impatiens     Annual  Partial Shade
5  Creeping Myrtle  Perennial     Full Shade
0          Boxwood  Evergreen    Partial Sun
1        Hydrangea  Flowering    Partial Sun
2       Dipladenia  Flowering  Partial Shade
3         Gardenia  Flowering       Full Sun

In [12]:
# Append shrubs to the flowers table here.  This time ignore the index.

flowers_appended_index=flowers.append(shrubs, ignore_index=True)
flowers_appended_index

/var/folders/ts/d6n9882j129gp1vw4rx7rhm80000gn/T/ipykernel_8369/2017355358.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flowers_appended_index=flowers.append(shrubs, ignore_index=True)

              Name Plant_Type      Sun_Shade
0             Iris  Perennial       Full Sun
1            Peony  Perennial       Full Sun
2            Daisy     Annual    Partial Sun
3          Petunia     Annual    Partial Sun
4        Impatiens     Annual  Partial Shade
5  Creeping Myrtle  Perennial     Full Shade
6          Boxwood  Evergreen    Partial Sun
7        Hydrangea  Flowering    Partial Sun
8       Dipladenia  Flowering  Partial Shade
9         Gardenia  Flowering       Full Sun

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 2: Concatenation

Reading:
1. [pandas.concat() function in Python](https://www.geeksforgeeks.org/pandas-concat-function-in-python/)

**Concatenation** means to chain or link things together.  The **concat()** method is very similar to **append()**.
Like with **append()**, **concat()** can add rows to a table, or add to the 0 axis.  However, **concat()** can also add horizontally on the 1 axis, and by assigning **keys**.

To **concat()** more rows to a table, the syntax is similar to **append()**:   
Syntax:  **table_1_name.concat(table_2_name)**

In [13]:
# Concatenate with flowers

# Look at the code below, in your own words what are the"keys" and how do they work? Keys are the indicator from where (what table) values came from

flowers_shrubs = pd.concat([flowers, shrubs], keys=["Flowers", "Shrubs"])

In [15]:
# Concatenate flowers and shrubs horizontally here:

flowers_shrubs_horiz=pd.concat([flowers,shrubs], axis=1)
flowers_shrubs_horiz

,Name,Plant_Type,Sun_Shade,Name,Plant_Type,Sun_Shade
0,Iris,Perennial,Full Sun,Boxwood,Evergreen,Partial Sun
1,Peony,Perennial,Full Sun,Hydrangea,Flowering,Partial Sun
2,Daisy,Annual,Partial Sun,Dipladenia,Flowering,Partial Shade
3,Petunia,Annual,Partial Sun,Gardenia,Flowering,Full Sun
4,Impatiens,Annual,Partial Shade,NaN,NaN,NaN
5,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 3:  Merge 

Reading for Parts 3 and 4
1. [Pandas Merge (Join Data) | pd.DataFrame.merge()](https://www.youtube.com/watch?v=xcN3s3Kij_8)
    1. 5 minute YouTube video
1. [Why and How to Use Merge with Pandas in Python](https://towardsdatascience.com/why-and-how-to-use-merge-with-pandas-in-python-548600f7e738)

In [16]:
# Run this code: (uncomment)
flowers.merge(garden_supply)

#Why isn't this working? default value for "how" is inner. There are no common colums between 2 dfs

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In order to merge a table, you to identify a shared column between the tables.  This is often referred to as a **"key"**.

Our tables both have a column of flower names.  However, the names of the columns are not the same.
There are two options we can take in order to use the names of the flower as the key.

Option 1 is to **rename** one of the columns.  

Option 2 is to inform the **merge** method which columns to use as the key.

We are going to try both.

### Option 1:  Rename a column in the flowers table.

Create a variable to hold your updated table.  
apply the following syntax to update your column names: **table_name.rename(columns={"original_name": "new_name"})**

In [18]:
# Code Option 1 here.  Be sure to run your table before moving on to option 2.

flowers_renamed_col=flowers.rename(columns={'Name':'Flower'})
flowers_renamed_col

            Flower Plant_Type      Sun_Shade
0             Iris  Perennial       Full Sun
1            Peony  Perennial       Full Sun
2            Daisy     Annual    Partial Sun
3          Petunia     Annual    Partial Sun
4        Impatiens     Annual  Partial Shade
5  Creeping Myrtle  Perennial     Full Shade

#### Option 1 Testing:
Merge garden_supply with you updated table in a new variable.
Run your newly merged table and examine it.

In [20]:
# Test Option 1 here:
flowers_renamed_col.merge(garden_supply)

      Flower Plant_Type      Sun_Shade          Sold_As  Amt_Package
0       Iris  Perennial       Full Sun        Bulb Pack           25
1      Peony  Perennial       Full Sun        Root Pack            5
2    Petunia     Annual    Partial Sun   Container Pack            4
3    Petunia     Annual    Partial Sun  Mixed Container            1
4  Impatiens     Annual  Partial Shade   Container Pack            4

### Option 2: Using the merge method's parameters "left_on" & "right_on"

Option 2 can be used when if you would rather not rename any columns.
Using the syntax below as a guide, create a table where you merge the *flowers* table on the "Name" column and the *garden_supply* on the "Flower".  Set your tables up where *flowers* is on the left and *garden_supply* on the right
    
Syntax:  **left_table.merge(right_table, left_on="column_name", right_on="column_name")**

In [21]:
# Code Option 2 here:
flowers.merge(garden_supply, left_on='Name', right_on='Flower')

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4

### Sytnax Exploring:
Using the syntax in Option 2, perform the same merge, but this time *garden_supply* on the left and *flowers* on the right.  What do you notice?

In [22]:
#  Code your Syntax Exploration here:
garden_supply.merge(flowers, left_on='Flower', right_on='Name')

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Iris,Bulb Pack,25,Iris,Perennial,Full Sun
1,Peony,Root Pack,5,Peony,Perennial,Full Sun
2,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
3,Petunia,Mixed Container,1,Petunia,Annual,Partial Sun
4,Impatiens,Container Pack,4,Impatiens,Annual,Partial Shade

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 4:  Types of Merges 

Merging is another way of providing you with ways to explore and understand your data.  Merging The entire table is great if the table is small, like our current example.  But think back to the data sets you have worked with so far.  Some have over a dozen columns.  

Merging works by creating a new table from related items.  There are 4 main types of merges that we are going to begin exploring: *inner, left, right, outer.* 

The syntax for merge(): **DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)** [source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

As we explore the types of merges, we are going to focus on the following parameters: **how**, **left_on**, **right_on**.  

Pandas documentation for **how**:
> **how : {â€˜leftâ€™, â€˜rightâ€™, â€˜outerâ€™, â€˜innerâ€™, â€˜crossâ€™}, default â€˜innerâ€™**
>> Type of merge to be performed.
>> - **left**: use only keys from left frame, similar to a SQL left outer join; preserve key order.
>> - **right**: use only keys from right frame, similar to a SQL right outer join; preserve key order.
>> - **outer**: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
>> - **inner**: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

[source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

*Note*: SQL is a language designed for working with databases.  You will learn more about SQL and how to use it in later lessons.  

Pandas documentation for **left_on** and **right_on**:
>**left_on**: label or list, or array-like
>>Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

>**right_on**: label or list, or array-like
>>Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

[source](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

*Note*:  We will add the following parameter, **indicator**, to help us visualize how the tables are being merged together.  You will see a new column added because of this parameter, **_merge**.

### Before you begin merging  
You can decide which way you want them the to merge **on**.  You can decide to use the table where you renamed your columns, or you can keep your tables are they are and use the **left_on** and **right_on** parameters.  If you are not sure, try both options and see which you like best.

## 4a: Inner Merge

In [15]:
inner = pd.merge(flowers, garden_supply, how="inner", left_on="Name", right_on="Flower", indicator=True)
inner

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5,both
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,both
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,both
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4,both

In [16]:
# Explain this table.  Why these values, when

## 4b: Left Merge

In [24]:
# Create a left merge table:
left=pd.merge(flowers, garden_supply, how='left', left_on="Name", right_on="Flower", indicator=True)
left

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4.0,both
6,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN,left_only

## 4c: Right Merge

In [18]:
right = pd.merge(flowers, garden_supply, how="right", left_on="Name", right_on="Flower", indicator=True)
right

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,NaN,NaN,NaN,Daylily,Container,1,right_only
1,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,both
2,Peony,Perennial,Full Sun,Peony,Root Pack,5,both
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4,both
6,NaN,NaN,NaN,Coneflower,Container,1,right_only

In [19]:
# The syntax for right merge has been provided.
# In your own words, explain how it is different from the left merge in 4b: we keep 'right' df intact and add left one with missing values 'NaN'

## Outer Merge

In [26]:
# Create an outer merge table here:

outer=pd.merge(flowers, garden_supply, how='outer',left_on="Name", right_on="Flower", indicator=True)
outer

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4.0,both
6,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN,left_only
7,NaN,NaN,NaN,Daylily,Container,1.0,right_only
8,NaN,NaN,NaN,Coneflower,Container,1.0,right_only

## Anti_Merge

An **Anti Merge** is a merge based on what is leftout.  This is not an actual table, but you can create one with a little code and logic.  Read through the code below to see one way to create an anti-table.

In [21]:
left_join = flowers.merge(garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True)
left_join

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both
5,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4.0,both
6,Creeping Myrtle,Perennial,Full Shade,NaN,NaN,NaN,left_only

In [23]:
left_only = left_join.loc[left_join["_merge"] =="left_only", "Name"]
left_only

2              Daisy
6    Creeping Myrtle
Name: Name, dtype: object

In [24]:
left_only_flowers=flowers[flowers["Name"].isin(left_only)]
left_only_flowers

              Name Plant_Type    Sun_Shade
2            Daisy     Annual  Partial Sun
5  Creeping Myrtle  Perennial   Full Shade

In [ ]:
# In your own words, how did we create the "left_only_flowers" table?  
# How does the syntax work?  
#First we extracted flowers that exist in left table only. Then we extracted info about those flowers from the table.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 5: Join

Reading List:
1. [Pandas Join vs. Merge](https://towardsdatascience.com/pandas-join-vs-merge-c365fd4fbf49)
1. [pandas.DataFrame.join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html)

The pandas library also contains a join method.  It has fewer parameters than merge, but can still be useful.

The parameter to that we are going to look at in this last section is **how**.

From the pandas documentation:

> **how : {â€˜leftâ€™, â€˜rightâ€™, â€˜outerâ€™, â€˜innerâ€™}, default â€˜leftâ€™:**
>> How to handle the operation of the two objects.
>> - **left**: use calling frameâ€™s index (or column if on is specified)
>> - **right**: use otherâ€™s index.
>> - **outer**: form union of calling frameâ€™s index (or column if on is specified) with otherâ€™s index, and sort it. lexicographically.
>> - **inner**: form intersection of calling frameâ€™s index (or column if on is specified) with otherâ€™s index, preserving the order of the callingâ€™s one.

In [27]:
join = flowers.join(garden_supply)
join

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Daylily,Container,1
1,Peony,Perennial,Full Sun,Iris,Bulb Pack,25
2,Daisy,Annual,Partial Sun,Peony,Root Pack,5
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
4,Impatiens,Annual,Partial Shade,Petunia,Mixed Container,1
5,Creeping Myrtle,Perennial,Full Shade,Impatiens,Container Pack,4

In [28]:
# create a "join_outer" table that outer joins garden_supply and flowers:
join_outer=flowers.join(garden_supply,how='outer')
# run you table:
join_outer

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Daylily,Container,1
1,Peony,Perennial,Full Sun,Iris,Bulb Pack,25
2,Daisy,Annual,Partial Sun,Peony,Root Pack,5
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
4,Impatiens,Annual,Partial Shade,Petunia,Mixed Container,1
5,Creeping Myrtle,Perennial,Full Shade,Impatiens,Container Pack,4
6,NaN,NaN,NaN,Coneflower,Container,1

In [29]:
# SOLUTION
join_outer = garden_supply.join(flowers, how="outer")
join_outer

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Daylily,Container,1,Iris,Perennial,Full Sun
1,Iris,Bulb Pack,25,Peony,Perennial,Full Sun
2,Peony,Root Pack,5,Daisy,Annual,Partial Sun
3,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
4,Petunia,Mixed Container,1,Impatiens,Annual,Partial Shade
5,Impatiens,Container Pack,4,Creeping Myrtle,Perennial,Full Shade
6,Coneflower,Container,1,NaN,NaN,NaN

In [36]:
# Based on what an outer join does, look closely at the table "join_outer".  
# Explain how these table elements are indexed. Indexes from both tables got matched

print(flowers,"/n")
garden_supply

              Name Plant_Type      Sun_Shade
0             Iris  Perennial       Full Sun
1            Peony  Perennial       Full Sun
2            Daisy     Annual    Partial Sun
3          Petunia     Annual    Partial Sun
4        Impatiens     Annual  Partial Shade
5  Creeping Myrtle  Perennial     Full Shade /n

       Flower          Sold_As  Amt_Package
0     Daylily        Container            1
1        Iris        Bulb Pack           25
2       Peony        Root Pack            5
3     Petunia   Container Pack            4
4     Petunia  Mixed Container            1
5   Impatiens   Container Pack            4
6  Coneflower        Container            1